* {
    margin: 0;
}

body {
    background: #191816;
    display: flex;
    width: 100vw;
}

img {
    width: 50%;
    height: 100vh;
}

main {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    background: #191816;
}

header {
    margin: 20px;
    position: absolute;
    z-index: 1;
}

main > div {
    background: #24221F;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    width: 75%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    padding: 50px;
}

#titulo {
    align-self: center;
    width: 334px;
    margin-bottom: 20px;
}

#titulo > a:nth-child(1) {
    display: flex;
    align-items: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #D4CCB6;
    gap: 10px;
}

#titulo > a:nth-child(2) {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #AFB6C2;
    width: 334px;
    align-self: center;
}

#emaila, #senhaa {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #AFB6C2;
    width: 334px;
    align-self: center;
}

#email, #senha {
    background: transparent;
    border-radius: 4px;
    box-sizing: border-box;
    border: 1px solid #868686;
    border-radius: 4px;
    width: 334px;
    align-self: center;
    height: 40px;
    z-index: 1;
    margin-bottom: 10px;
    padding-left: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #A9AFB9;
}

#senha {
    padding-right: 40px;
}

#email:focus, #senha:focus {
    outline: none;
    border: 1px solid #FFC632;
    box-shadow: 0px 0px 0px 2px #FFDE88;
    border-radius: 4px;
}

.form {
    display: flex;
    flex-direction: column;
}

.inputdentro {
    position: absolute;
    width: 334px;
    align-self: center;
    margin-top: 10px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #A9AFB9;
    z-index: 0;
}

#olho {
    position: absolute;
    right: 20px;
}

#extras {
    width: 334px;
    align-self: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

#extras > div:nth-child(1) {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #A9AFB9;
    display: flex;
    gap: 5px;
    align-items: center;
}

#esqueci {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #FFC632;
    text-decoration: none;    
}

button {
    width: 334px;
    height: 51px;
    background: #FFC632;
    border-radius: 4px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    align-self: center;
    margin-bottom: 10px;
}

button:hover {
    cursor: pointer;
}

main > div > a:last-child {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #FFC632;
    text-decoration: none;
    align-self: center;
    width: 334px;
    display: flex;
    justify-content: center;
}

strong {
    margin-left: 5px;
}